* {
  margin: 0;
}

html {
    font-family: "Raleway", "Helvetica", sans-serif;
    font-weight: 400;
    color: #2F3442;
    height: 100%;
    background-color: #FFFFFF;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.icon {color: #BCD2DA;}

.card {
  /* display, flex-direction */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #CAD0D2;
  border-radius: 4px;
  overflow: hidden;
}

.card__description {
    /* display, flex-direction, justify-content, align-items */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.card__descriptionIcon {font-size: 32px; margin-bottom: 10px;}

.card__descriptionText {
  max-width: calc(100% - 30px);
  color: #57727C;
  font-size: 12px;
  text-align: center;
}

.card__price {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  padding: 5px 15px;
  border-top: 1px solid #D7DBDD;
  color: #57727C;
  background-color: #EEF3F5;
}

.cardGroup {
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: 320px;
    width: 100%;
    border: 1px solid #CAD0D2;
    border-radius: 4px;
    overflow: hidden;
  }


    .cardGroup__card {
      /* flex-grow, flex-shrink, flex-basis */
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
      border: none;
      border-radius: 0;
    }

    .cardGroup__cardDescription {
      /* flex-grow, flex-shrink, flex-basis */
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
    }

@media only screen and (min-width: 769px)
  {
    .cardGroup {
      max-width: 710px;
      width: 100%;
      flex-direction: row;
    }

    .cardGroup__card--special{
      border-left: 1px solid #D7DBDD;
    }
  }